<div class='row'>
    <div class="col-md-12">
        <div class="demo-panel">
            <div class="inner-panel">
                <div class="top-panel">
                    <div id="display">
                        <div class="display-container" id="display-container"></div>
                        <div class="button-container">
                            <div class="button-container-wrapper" id="button-container"></div>
                        </div>
                    </div>
                </div>
                <div class="bottom-panel">
                    <h1 class="product-name"><img src="../img/power-control-system-header.png"/></h1>
                    <div class="logo">
                        <img src="../img/logo.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
